@import (reference) url("mixins.less");

html {
	height: auto !important;
}


body{

	/******
	* z-indexes
	******/

	#header{
		z-index: 100;
	}

	main{
		z-index: 50;
	}
	footer{
		z-index: 0;
	}

	/******
	* main rules
	******/
	#header{
		width: 150px;
		position: fixed;
		right: 0;
		z-index: 100;
	}

	main{

		z-index: 50;
		.regTransition;
		margin-bottom: 300px;
		position: relative;
		.thin, .bold{
			font-size: 5rem;
		}
		&::after{
			content:"";
			display:block;
			position: fixed;
			border-left: solid 1px white;
			left: 25vw; top: 0; height: 100vh;
			transform: skewX(15deg);
			transform-origin: top left;
		}

		section{
			position: relative;
			background-size: 100%;
		}

		#about, #about::after, #about::before, #services, #services::after, #services::before{background: @grey;}
		#contact, #contact::after, #contact::before{background: @blue;}

		#home{
			background: url(/img/backgrounds/background_01.jpg) fixed;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h1{
				position: relative;
				top: -3rem;
				left: 3rem;
				.thin, .bold{
					font-size: 5rem;
				}
				&::after{
					content:"";
					display:block;
					position: absolute;
					border-left: solid 10px white;
					left: -5rem; top: -0.5rem; height: 5rem;
					transform: skewX(15deg);
					transform-origin: top left;
				}
			}
		}
		#about{
			min-height: 25vh;
		}
		#services{
			min-height: 25vh;
		}
		#portfolio{
			background: url(/img/backgrounds/background_01.jpg) fixed;
			min-height: 75vh;
			padding: 15vh;
		}
		#contact{
			min-height: 25vh;
		}

	}

	footer{
		background: url(/img/backgrounds/background_01.jpg) fixed;
		margin-bottom: 0 !important;
		padding-top: 100px !important;
		position: fixed;
		bottom: 0; left: 0; right: 0;
		height: 300px;
	}

	/******
	* Fixes
	******/
}
