@import (reference) url("mixins.less");

html {
	height: auto !important;
}


body{

	/******
	* z-indexes
	******/

	#header{
		z-index: 100;
	}

	main{
		z-index: 50;
	}
	footer{
		z-index: 0;
	}

	/******
	* main rules
	******/
	#header{
		width: 150px;
		position: fixed;
		right: 0;
		z-index: 100;
	}

	main{
		z-index: 50;
		.regTransition;
		margin-bottom: 200px;
		position: relative;
		box-shadow: 0px 0px 25px 10px rgba(10,10,10,0.8);

		section{
			min-height: 50vh;
			position: relative;
			background-size: 100%;
		}
		#home{
			background: url(/img/backgrounds/background_01.jpg) fixed;
			height: 100vh;
		}
		#about{
			background: url(/img/backgrounds/background_02.jpg);
		}
		#services{
			background: url(/img/backgrounds/background_03.jpg);
		}
		#portfolio{
			background: url(/img/backgrounds/background_01.jpg) fixed;
		}
		#contact{
			background: url(/img/backgrounds/background_05.jpg);
		}

	}

	footer{
		background: url(/img/backgrounds/background_01.jpg) fixed;
		margin-bottom: 0 !important;
		position: fixed;
		bottom: 0; left: 0; right: 0;
		height: 200px;
	}

	/******
	* Fixes
	******/
}
