<template name="about">

    <section id="about" class="ui container middle aligned stackable centered grid overlayed">

        <div id="aboutLogo" class="ui center aligned four wide column animated bounceInLeft">
            <object type="image/svg+xml" data="/img/Logo-TCC-02.svg" class="ui image centered"></object>
        </div>
        <div id="aboutContent" class="ui inverted basic segment eight wide column animated bounceInRight">
            <h1 class="bold uppercase">the <span class="thin">Cad</span><br>collection</h1>
            <!-- <object type="image/svg+xml" data="/img/Logo-TCC-01.svg" class="ui image"></object> -->

            <p id="aboutAim" class="ui inverted vertical basic segment thin emphasis bottom top inverted">The Cad Collection is a web app to share and browse cad items to use in architectural projects.<br>The aim is to facilitate the often fastidious search for a correct drawing.<br>It is heavily inspired by the noun project.</p>

            <p id="aboutTechnos" class="ui inverted vertical basic segment thin uppercase">Designed and made by <a href="http://www.nascis.fr" class="uLined">Nascis.</a><br>
            Powered by <a href="https://www.meteor.com" target="_blank" class="uLined">meteor</a> and <a href="http://semantic-ui.com/" target="_blank" class="uLined">semantic_ui</a>.<br>
            Help the project on  <a href="http://www.github.com" target="_blank" class="uLined">github.</a><br>
            Follow and contribute to the  <a href="http://www.trello.com" target="_blank" class="uLined">trello.</a></p>
            <a class="ui basic back inverted button">back</a>
        </div>

    </section>

</template>
