<template name="cgu">
	<div id="cgu" class="ui segment">
		<h2 class="ui header">
			<i class="ui icon legal"></i>
			<div class="content uppercase">
				Conditions Générales <br>d'Utilisation
				<div class="sub header thin lowercase">Service, responsabilités et règles d'usage</div>
			</div>
		</h2>
		<span class="ui primary top right attached label">Dernière mise à jour le 05/07/2015</span>

		<p>Tous les éléments du site thecadcollection.com, y compris les documents téléchargeables, sont libres de droit. A l’exception de l’iconographie, la reproduction des pages de ce site est autorisée à la condition d’y mentionner la source. Elles ne peuvent être utilisées à des fins commerciales et publicitaires.<br><br>
			Le site&nbsp; thecadcollection.com&nbsp; peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site thecadcollection.com.<br><br>
			Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de la société Nascis. Aucune autorisation ou demande d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de Nascis. Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, Nascis se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site thecadcollection.com.</p>

			<div class="ui ordered list very relaxed">
				<div class="item">
					<h3 class="ui header thin uppercase">Résponsabilité de Nascis</h3>
					<p>L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que Nascis puisse être recherché à ce titre, et sans recours contre ce dernier.
						Nascis ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.<br></p>
					</div>
					<div class="item">
						<h3 class="ui header thin uppercase">Accés au site</h3>
						<p>Nascis s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de Nascis, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.<br>
							Par conséquent, Nascis ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en termes de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.<br>
							La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.<br>
							Par ailleurs, Nascis peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que Nascis ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.
							Modification des conditions d’utilisation
							Nascis se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son exploitation.</p>
						</div>
						<div class="item">
							<h3 class="ui header thin uppercase">Règles d'usage d'Internet</h3>
							<p>L’utilisateur déclare accepter les caractéristiques et les limites d’Internet, et notamment reconnaît que :<br>
								NASCIS n’assume aucune responsabilité sur les services accessibles par Internet et n’exerce aucun contrôle de quelque forme que ce soit sur la nature et les caractéristiques des données qui pourraient transiter par l’intermédiaire de son centre serveur.<br>
								L’utilisateur reconnaît que les données circulant sur Internet ne sont pas protégées notamment contre les détournements éventuels. La présence du logo&nbsp;&nbsp; Nascis&nbsp; institue une présomption simple de validité. La communication de toute information jugée par l’utilisateur de nature sensible ou confidentielle se fait à ses risques et périls.<br>
								L’utilisateur reconnaît que les données circulant sur Internet peuvent être réglementées en termes d’usage ou être protégées par un droit de propriété.<br>
								L’utilisateur est seul responsable de l’usage des données qu’il consulte, interroge et transfère sur Internet.<br>
								L’utilisateur reconnaît que NASCIS ne dispose d’aucun moyen de contrôle sur le contenu des services accessibles sur Internet</p>
							</div>
						</div>
					</div>
				</template>
