<template name="contact">
	<div class="ui segment column animated bounce">
		<h3 class="ui header uppercase">Send Feedback</h3>
		<form class="ui form contact">
				<div class="two fields required">
				<div class="field">
					<label>Name</label>
					<input placeholder="your name" type="text" name="name">
				</div>
				<div class="field required">
					<label>E-mail</label>
					<input placeholder="your email" type="email" name="email">
				</div>
			</div>
			<div class="field required">
				<label>Reason</label>
				<div class="ui search selection dropdown">
					<div class="default text">Select</div>
					<i class="dropdown icon"></i>
					<input type="hidden" name="reason">
					<div class="menu">
						<div class="item" data-value="bug">Bug report</div>
						<div class="item" data-value="feature">Feature request</div>
						<div class="item" data-value="feature">Misclassification</div>
						<div class="item" data-value="feature">Other remark</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label>Url of the page in question (if any)</label>
				<input placeholder="url of the page concerned" type="text" name="url">
			</div>
			<div class="field required">
				<label>Short description</label>
				<textarea rows="3" name="description"></textarea>
			</div>
			<button class="ui button" type="submit">Submit</button>
			<div class="ui error message"></div>
		</form>
	</div>
</template>
