<template name="footer">
	<footer class="ui two column stackable grid">
		<div id="footerBranding" class="column">

			<div class="ui internally celled grid row">

				<div id="footerBrandingLogo" class="center aligned four wide column">
					<img src="/img/Logo.png" height="150" width="150" class="ui image small center aligned">
				</div>

				<div id="footerBrandingMotto" class="eight wide column middle aligned">
					<div class="ui link inverted list">
						<div id="footerBrandingMottoTitle" class="item">
							<div class="header uppercase">NAS<span class="uLined">CIS</span></div>
						</div>
						<div id="footerBrandingMottoPhrase" class="item uppercase">your go to web agency</div>
						<div id="footerBrandingMottoMade" class="item serif">designed and made by <a href="http://www.nascis.fr/" target="_blank" class="uLined">Nascis</a>.</div>
						<div id="footerBrandingMottoPower" class="item serif">powered by <a href="https://www.meteor.com" target="_blank" class="uLined">meteor</a> and <a href="http://semantic-ui.com/" target="_blank" class="uLined">semantic_ui</a></div>
					</div>
				</div>
			</div>
		</div>
		<div id="footerMenu" class="computer tablet only middle aligned column">
			<div class="ui three column internally celled grid row stackable">
				<div class="column">
					<div class="ui small link inverted list">
						<div class="item">
							<div class="header uppercase thin">The agency</div>
						</div>
						<a class="item" href="{{pathFor route='home' hash='home'}}">Home</a>
						<a class="item" href="{{pathFor route='home' hash='portfolio'}}">Portfolio</a>
						<a class="item" href="{{pathFor route='home' hash='services'}}">Services</a>
						<a class="item" href="{{pathFor route='home' hash='contact'}}">Contact</a>
					</div>
				</div>
				<div class="column">
					<div class="ui small link inverted list">
						<div class="item">
							<div class="header uppercase thin">Legales Pages</div>
						</div>
						<a class="item" href="{{pathFor route='mentionslegales' hash='mentionslegales' }}">Mention Legales</a>
						<a class="item" href="{{pathFor route='cgu' hash='cgu' }}">CGU</a>
						<a class="item" href="{{pathFor route='confidentiality' hash='confidentiality' }}">Confidentiality</a>
						<a class="item" href="{{pathFor route='security' hash='security' }}">Security</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

</template>
