<template name="footer">
	<footer class="ui two column stackable grid">
		<div id="footerBranding" class="column">

			<div class="ui internally celled grid row">

				<div id="footerBrandingLogo" class="center aligned four wide column">
					<object type="image/svg+xml" data="/img/Logo-TCC-02.svg" height="150" width="150" class="ui image small center aligned"></object>
				</div>

				<div id="footerBrandingMotto" class="eight wide column middle aligned">
					<div class="ui link inverted list">
						<div id="footerBrandingMottoTitle" class="item">
							<div class="header uppercase">The <span class="uLined">Cad</span> Collection</div>
						</div>
						<div id="footerBrandingMottoPhrase" class="item uppercase">your go to CAD designs catalog</div>
						<div id="footerBrandingMottoMade" class="item serif">designed and made by <a href="http://www.nascis.fr/" target="_blank" class="uLined">Nascis</a>.</div>
						<div id="footerBrandingMottoPower" class="item serif">powered by <a href="https://www.meteor.com" target="_blank" class="uLined">meteor</a> and <a href="http://semantic-ui.com/" target="_blank" class="uLined">semantic_ui</a></div>
					</div>
				</div>
			</div>
		</div>
		<div id="footerMenu" class="computer tablet only middle aligned column">
			<div class="ui three column internally celled grid row stackable">
				<div class="column">
					<div class="ui small link inverted list">
						<div class="item">
							<div class="header uppercase thin">Collection</div>
						</div>
						<a class="item" href="{{pathFor 'item.search'}}">Search</a>
						<a class="item" href="{{pathFor 'item.browse'}}">Browse</a>
						<a class="item" href="{{pathFor 'item.contribute'}}">Contribute</a>
					</div>
				</div>
				<div class="column">
					<div class="ui small link inverted list">
						<div class="item">
							<div class="header uppercase thin">Account</div>
						</div>
						{{#if currentUser}}
						<a class="item" href="{{pathFor 'user.profile' _id=currentUser._id }}">Profile</a>
						<a class="item" href="{{pathFor 'user.settings'}}">Settings</a>
						{{#if isInRole 'adm'}}
						<a class="item" href="{{pathFor 'user.adm'}}">Administration</a>
						{{/if}}
						<a class="item" href="{{pathFor 'user.logout'}}">Log out</a>
						{{else}}
						<a class="item" href="{{pathFor 'user.login'}}">Login / Subscribe</a>
						{{/if}}
					</div>
				</div>
				<div class="column">
					<div class="ui small link inverted list">
						<div class="item">
							<div class="header uppercase thin">Meta</div>
						</div>
						<a class="item" href="{{pathFor 'about'}}">About</a>
						<a class="item" href="{{pathFor 'help'}}">Help</a>
						<a class="item" href="{{pathFor 'legales'}}">Legal pages</a>
					</div>
				</div>
			</div>
		</div>

	</footer>

</template>
