<template name="mentionslegales">
	<div id="mentionslegales" class="ui segment">
		<h2  class="ui header">
			<i class="ui icon announcement"></i>
			<div class="content uppercase">
				Mentions Légales
				<div class="sub header thin lowercase">Hébergement, bdd, frameworks et ressources</div>
			</div>
		</h2>
		<span class="ui primary top right attached label">Dernière mise à jour le 31/08/2015</span>

		<div class="ui ordered list very relaxed">
			<div class="item">
				<h3 class="ui header thin uppercase">Hébergement</h3>
				Le site thecadcollection.com est hébergé par <a href="https://www.heroku.com" target="_blank">Heroku</a><br>
			</div>
			<div class="item">
				<h3 class="ui header thin uppercase">La base de donnée</h3>
				La base de donnée MongoDb de thecadcollection.com est hébergé chez <a href="https://www.mongolab.com/" target="_blank">mongoLab</a>
			</div>
			<div class="item">
				<h3 class="ui header thin uppercase">Frameworks & librairies </h3>
				thecadcollection.com utilise <a href="https://www.meteor.com/" target="_blank">Meteor</a> comme framework de developpement backend.<br>
				thecadcollection.com prend parti de <a href="http://semantic-ui.com/" target="_blank">Semantic_ui</a> comme framework frontend.
			</div>
			<div class="item">
				<h3 class="ui header thin uppercase">Ressources graphiques </h3>
				Les différentes ressources photographiques sont tirées de <a href="https://www.pexels.com" target="_blank">pexels</a> . Toutes les images sont donc sous licence <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a>.<br>
				Les icônes utilisées sont tirées de <a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">fortAwesome</a>.<br>
			</div>
		</div>
	</div>
</template>
