<template name="portfolio">
	<section id="portfolio" class="">
		<div class="ui link four stackable cards">
			{{#each projects}}
			<div class="ui blurring card">

				<div class="ui dimmer">
					<div class="content">
						<a class="header">{{name}}</a>
						<div class="meta">
							<span class="date">{{dateRealized}}</span>
						</div>
						<div class="description">{{shortDescription}}</div>
					</div></div>
					<div class="image">
						<img src="{{imgUrl}}">
					</div>
				</div>
				{{/each}}
			</div>
		</section>
	</template>
